<link rel="stylesheet" type="text/css" href="../../css/admin_home.css">

<div class="admin-header">
    <h2>Admin Panel</h2>
    <!-- Button to toggle the sidebar -->
    <button class="navbar-toggler d-md-none" type="button" data-toggle="collapse" data-target="#adminSidebar"
        aria-controls="adminSidebar" aria-expanded="false" aria-label="Toggle sidebar">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 admin-sidebar collapse d-md-block" id="adminSidebar">
            <ul>
                <li><a href="/admins">Dashboard</a></li>
                <li><a href="/admins/bookings/<%= admin.id%>">Bookings</a></li>
                <li><a href="/admins/users/<%= admin.id%>">Users</a></li>
                <li><a href="/admins/setting/<%= admin.id%>">Settings</a></li>
                <li><a href="/admins/sign-out">Sign Out</a></li>
            </ul>
        </div>
        <div class="col-md-9 admin-content">
            <h4>Turf Settings</h4>
            <form action="/admins/setting/update-turf" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" name="name" value="<%= turf[0].name %>" class="form-control" id="name" required>
                </div>
                <div class="mb-3">
                    <label for="number" class="form-label">Number</label>
                    <input type="number" name="number" value="<%= turf[0].number %>" class="form-control" id="number" required>
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    <input type="text" name="address" value="<%= turf[0].address %>" class="form-control" id="address" required>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="location" value="<%= turf[0].location %>" class="form-control" id="location" required>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" name="price" value="<%= turf[0].price %>" class="form-control" id="price" required>
                </div>
                <div class="mb-3">
                    <label for="logo" class="form-label">Logo</label>
                    <div class="custom-file">
                        <input type="file" name="logo" class="custom-file-input" id="logo">
                        <label class="custom-file-label" for="logo">Choose file</label>
                    </div>
                </div>                
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>

<script>
    // Function to toggle the sidebar on mobile devices
    $(document).ready(function () {
        $(".navbar-toggler").on("click", function () {
            $("#adminSidebar").toggle();
        });
    });
</script>