<link rel="stylesheet" type="text/css" href="../css/home.css">
<div id="home-container" class="container">
    <section id="feed-matches">
        <%if (locals.user) { %>
            <div id="host-match-container" class="container">
                <div class="host-match btn-dark">
                    <a href="/matches">Host a Match</a>
                </div>
                <div class="host-match btn-dark">
                    <a href="/">Join Local Challenge</a>
                </div>
            </div>
            <div id="match-list-container">
                <ul class="list-unstyled">
                    <% for (let match of matches) { %>
                        <% if(match.date >= currentDate) {%>
                            <li class="mb-3">
                                <div id="match-data" class="card">
                                    <div class="card-body">
                                        <div>
                                            <a >
                                                <%=match.matchName%> at <%= match.turf.name %>
                                                    <br>
                                                    <small>
                                                        <%= match.date %>
                                                    </small>
                                                    <br>
                                                    <sub>
                                                        <%= match.time %>
                                                    </sub>
                                            </a>
                                        </div>
                                        <a href="#" class="btn btn-dark float-right">Accept Challenge</a>
                                    </div>
                                </div>
                            </li>
                        <% } %>
                    <% } %>
                </ul>
            </div>
            <% } %>
    </section>
    <section id="feed-turfs">
        <% if (locals.user) { %>
            <h2 class="mb-3">Trending Turfs</h2>
            <div id="turf-list-container">
                <ul class="list-unstyled">
                    <% for (let i of turf) { %>
                        <li class="mb-3">
                            <div id="turf-data" class="card">
                                <div class="card-body">

                                    <img src="<%= i.logo%>" alt="<%= i.name%>" id="logo-img">
                                    <div id="name-container">
                                        <div>
                                            <a href="#" class="card-link">
                                                <strong>
                                                    <%=i.name%>
                                                </strong>
                                                <br>
                                                <sub>
                                                    <%= i.address %>
                                                </sub>
                                            </a>
                                        </div>
                                        <div>
                                            <a href="/turf/<%=i.id%>" class="btn btn-dark">Book Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <% } %>
                </ul>
            </div>
            <% } %>
    </section>

    <section id="ads">

    </section>
</div>
<script src="/js/home.js"></script>