<link rel="stylesheet" type="text/css" href="../css/home.css">
<div id="home-container" class="container">
    <section id="feed-matches">
        <%if (locals.user) { %>
            <div id="host-match-container" class="container">
                <div class="host-match btn-dark">
                    <a href="/">Join Local Games</a>
                </div>
                <div class="host-match btn-dark">
                    <a href="/matches">Host Your Match</a>
                </div>
            </div>
            <div id="match-list-container">
                <ul class="list-unstyled">
                    <% for (let match of matches) { %>
                        <li class="mb-3">
                            <div id="match-data" class="card">
                                <div class="card-body">
                                    <div>
                                        <a class="card-link">
                                            <%=match.matchName%>
                                                <br>
                                                <sub>
                                                    <%= match.date, match.time%>
                                                </sub>
                                        </a>
                                    </div>
                                    <a href="#" class="btn btn-dark float-right">Join Now</a>
                                </div>
                            </div>
                        </li>
                        <% } %>
                </ul>
            </div>
            <% } %>
    </section>
    <section id="feed-turfs">
        <% if (locals.user) { %>
            <h2 class="mb-3">Available Turfs</h2>
            <div id="turf-list-container">
                <ul class="list-unstyled">
                    <% for (let i of turf) { %>
                        <li class="mb-3">
                            <div id="turf-data" class="card">
                                <div class="card-body">
                                    <span>
                                        <%= turf.logo%>
                                    </span>
                                    <div>
                                        <a href="#" class="card-link">
                                            <%=i.name%>
                                                <br>
                                                <sub>
                                                    <%= i.address %>
                                                </sub>
                                        </a>
                                    </div>
                                    <a href="/turf/<%=i.id%>" class="btn btn-dark float-right">Book Now</a>
                                </div>
                            </div>
                        </li>
                        <% } %>
                </ul>
            </div>
            <% } %>
    </section>

    <section id="ads">

    </section>
</div>
<script src="/js/home.js"></script>