<link rel="stylesheet" type="text/css" href="../css/matches.css">

<div class="container mt-5">
    <h2>Host a Match</h2>
    <div id="select-date-form">
        <h6>Select Date and Turf to check available bookings:</h6>
        <form id="date-form">
            <div class="form-group">
                <input type="date" name="selectedDate" class="form-control" id="selected-date"
                    value="<%= selectedDate %>" class="form-control">
            </div>
            <div class="form-group">
                <label for="selectedTurf">Select Turf</label>
                <br>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <% for (let i=0; i < turf.length; i++) { %>
                        <label class="btn btn-info">
                            <input type="radio" name="selectedTurf" id="selected-turf" value="<%= turf[i].id %>" onchange="submitDateForm()">
                            <%= turf[i].name %>
                        </label>
                        <br>
                        <% } %>
                </div>
            </div>
        </form>
    </div>

    <!-- Host a Match Form -->
    <form action="/matches/create-match" method="post" id="matchForm">
        <div class="form-group">
            <label for="matchName">Match Name</label>
            <input type="text" class="form-control" name="matchName" placeholder="Enter match name" required>
        </div>
        <div class="form-group">
            <label for="gameName">Select Game</label>
            <select class="form-control" name="gameName" required>
                <option value="Cricket">Cricket</option>
                <option value="Football" selected>Football</option>
            </select>
        </div>
        <div class="form-group">
            <label for="gameLevel">Game Level</label>
            <select class="form-control" name="gameLevel" required>
                <option value="Beginner">Beginner</option>
                <option value="Amatuer">Amatuer</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Skilled">Skilled</option>
                <option value="Experienced">Experienced</option>
            </select>
        </div>
        <div class="form-group">
            <input type="hidden" class="form-control" name="turf" value="<%= selectedTurf %>" required>
        </div>
        <div class="form-group">
            <input type="hidden" class="form-control" name="date" value="<%= selectedDate %>" required>
        </div>
        <div class="form-group">
            <label for="time">Select Time</label>
            <br>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <% for (var i=6; i <=10; i++) { %>
                    <label class="btn btn-secondary" id="btn-slot-<%= i %>">
                        <input type="checkbox" name="time" value="<%= i %>:00AM to <%= i +1 %>:00AM">
                        <%= i %>:00AM to <%= i +1 %>:00AM
                    </label>
                    <% } %>
                        <label class="btn btn-secondary" id="btn-slot-11">
                            <input type="checkbox" name="time" value="11:00AM to 12:00PM">
                            11:00AM to 12:00PM
                        </label>
            </div>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary" id="btn-slot-12">
                    <input type="checkbox" name="time" value="12:00PM to 1:00PM">
                    12:00PM to 1:00PM
                </label>
                <% for (var i=1; i <=5; i++) { %>
                    <label class="btn btn-secondary" id="btn-slot-<%= i %>">
                        <input type="checkbox" name="time" value="<%= i %>:00PM to <%= i +1 %>:00PM">
                        <%= i %>:00PM to <%= i +1 %>:00PM
                    </label>
                    <% } %>
            </div>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <% for (var i=6; i <=11; i++) { %>
                    <label class="btn btn-secondary" id="btn-slot-<%= i %>">
                        <input type="checkbox" name="time" value="<%= i %>:00PM to <%= i +1 %>:00PM">
                        <%= i %>:00PM to <%= i +1 %>:00PM
                    </label>
                    <% } %>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Host Match</button>
    </form>

    <!-- Confirm Modal -->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Confirm Hosting</h5>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to host this match?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="confirmHostBtn">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Error Modal -->
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel">Error</h5>
                </div>
                <div class="modal-body">
                    <p>Please select the required fields.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>


    <div id="bookings-container" class="mt-3" style="display: none;">
        <% if (bookings.length> 0) { %>
            <h5>Bookings for <%= selectedDate %> :</h5>
            <ul>
                <% bookings.forEach(booking=> {%>

                    <div class="booking-timeslot" data-turf-id="<%= booking.turfId %>">
                        <%= booking %>
                    </div>
                    <% }); %>
            </ul>
            <% } else { %>
                <p>No bookings found for <%= selectedDate %> .</p>
                <% } %>
    </div>
</div>
<script>
    let config = {
        altInput: true,
        altFormat: "F j, Y",
        dateFormat: "Y-m-d",
        minDate: "today",
        maxDate: new Date().fp_incr(30),
        inline: true
    }
    flatpickr("#selected-date", config);
</script>
<script src="../js/match.js"></script>