<link rel="stylesheet" type="text/css" href="../css/turf.css">

<div id="turf-container">
    <div id="turf-images-container">
        <img src="/images/turf-main-abc.jpg" alt="abc-turf">
    </div>
    <div id="turf-details-container">
        <div id="turf-data-container">
            <h2 class="mt-3">
                <a href="<%= turf.location %>" target="_blank">
                    <i class="fa-solid fa-location-dot"></i>
                    <%=turf.name%>
                </a>
            </h2>
            <p>
                <a class="d-block"> <strong>Address: </strong>
                    <%= turf.address%>
                </a>
                <a class="d-block"> <strong>Contact No: </strong>
                    <%= turf.number%>
                </a>
            </p>
            <p>
                <strong>
                    Pricing:
                </strong>
                Rs.<%=turf.price%>/-
            </p>
            <br>
            <br>

            <div id="select-date-form">
                <h5>Select Date to check available bookings:</h5>
                <form id="date-form">
                    <input type="date" id="selected-date" name="selectedDate" onchange="submitDateForm()"
                        value="<%= selectedDate %>" class="form-control">
                </form>
            </div>

            <form action="/turf/create-booking" method="post" id="booking-form">
                <input type="hidden" name="date" value="<%= selectedDate %>">
                <div class="form-group">
                    <label for="time">Select Time</label>
                    <br>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <% for (var i=6; i <=10; i++) { %>
                            <label class="btn btn-secondary" id="btn-slot-<%= i %>">
                                <input type="checkbox" name="time" value="<%= i %>:00AM to <%= i +1 %>:00AM">
                                <%= i %>:00AM to <%= i +1 %>:00AM
                            </label>
                            <% } %>
                                <label class="btn btn-secondary" id="btn-slot-11">
                                    <input type="checkbox" name="time" value="11:00AM to 12:00PM">
                                    11:00AM to 12:00PM
                                </label>
                    </div>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary" id="btn-slot-12">
                            <input type="checkbox" name="time" value="12:00PM to 1:00PM">
                            12:00PM to 1:00PM
                        </label>
                        <% for (var i=1; i <=5; i++) { %>
                            <label class="btn btn-secondary" id="btn-slot-<%= i %>">
                                <input type="checkbox" name="time" value="<%= i %>:00PM to <%= i +1 %>:00PM">
                                <%= i %>:00PM to <%= i +1 %>:00PM
                            </label>
                            <% } %>
                    </div>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <% for (var i=6; i <=11; i++) { %>
                            <label class="btn btn-secondary" id="btn-slot-<%= i %>">
                                <input type="checkbox" name="time" value="<%= i %>:00PM to <%= i +1 %>:00PM">
                                <%= i %>:00PM to <%= i +1 %>:00PM
                            </label>
                            <% } %>
                    </div>
                </div>
                <input type="hidden" name="turf" value="<%=turf._id%>">
                <input type="submit" value="Book Now" class="btn btn-primary mt-3" data-toggle="modal"
                    data-target="#confirmModal">
            </form>

            <!-- Confirm Booking Modal -->
            <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmModalLabel">Confirm Booking</h5>
                        </div>
                        <div class="modal-body">
                            <p>Please confirm your booking details.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
                            <input type="submit" value="Confirm" class="btn btn-primary">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Error Modal -->
            <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="errorModalLabel">Error</h5>
                        </div>
                        <div class="modal-body">
                            <p>Please select the Time</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- <div id="bookings-container" class="mt-3" >
                <% if (bookings.length> 0) { %>
                    <h5>Bookings for <%= selectedDate %> :</h5>
                    <ul>
                        <% bookings.forEach(booking=> {
                            booking.time.forEach(time => { %>
                            <li>
                                <div id="booking-timeslot">
                                    <%= time %>
                                </div>
                            </li>
                            <% }); %>
                                <% }); %>
                    </ul>
                <% } else { %>
                    <p>No bookings found for <%= selectedDate %> .</p>
                <% } %>
            </div> -->
            <div id="bookings-container" class="mt-3" style="display: none;">
                <% if (bookings.length> 0) { %>
                    <h5>Bookings for <%= selectedDate %> :</h5>
                    <ul>
                        <% bookings.forEach(booking=> {%>

                            <div class="booking-timeslot">
                                <%= booking %>
                            </div>
                            <% }); %>
                    </ul>
                    <% } else { %>
                        <p>No bookings found for <%= selectedDate %> .</p>
                        <% } %>
            </div>
        </div>
    </div>
</div>
<script>
    let config = {
        altInput: true,
        altFormat: "F j, Y",
        dateFormat: "Y-m-d",
        minDate: "today",
        maxDate: new Date().fp_incr(30),
        inline: true
    }
    flatpickr("#selected-date", config);
</script>
<script src="../js/turf.js"></script>